{% extends 'main/base.html' %}
{% block content %}
<div class="row">
    <h2>📧 Добро пожаловать на наш сервис email рассылок! 🚀</h2>
</div>
<div class="row">
    <div class="col-8">
        <p>
            Создавайте и отправляйте персонализированные email-рассылки всем своим клиентам всего в несколько шагов:
            <br><br>
            1. Загрузите вашу базу клиентов или заполните вручную.<br>
            2. Составьте уникальный текст вашего сообщения.<br>
            3. Отправьте ваше сообщение всем вашим клиентам сразу!<br>
            <br>
            Наша платформа обеспечивает удобство и эффективность ваших маркетинговых усилий, помогая вам
            поддерживать прочные связи с вашей аудиторией.<br>
            Вы можете выбрать периодичность отправки и ваши клиенты будут всегда в курсе ваших предложений.<br>
            Начните сегодня и увидите результаты! 📈💼
        </p>
    </div>
    <div class="col-4 mt-3">
        <h5>Статистика рассылок:</h5>
        <table class="table table-striped">
            <tr>
                <td>Всего рассылок</td>
                <td>{{ count_mailing }}</td>
            </tr>
            <tr>
                <td>Активных рассылок</td>
                <td>{{ count_mailing_active }}</td>
            </tr>
            <tr>
                <td>Всего клиентов</td>
                <td>{{ count_client }}</td>
            </tr>
            <tr>
                <td>Уникальных клиентов</td>
                <td>{{ count_client_unique }}</td>
            </tr>
        </table>
    </div>
</div>
<div class="card-group">
    {% for object in object_list %}
    <div class="card">
        <img src="{{ object.image.url }}" class="card-img-top" alt="card-group-image" style="height:200px">
        <div class="card-body">
            <h5 class="card-title">{{ object.title|capfirst }}</h5>
            <p class="card-text">{{ object.content | slice:200 }}...</p>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
            <a href="{% url 'blog:article_view' object.slug %}" class="btn btn-sm btn-outline-info">Читать</a>
            <small class="text-muted">Просмотров: {{ object.count_views }}</small>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}