{% extends 'main/base.html' %}
{% block content %}
<div class="row">
    <div class="col">
            <h2>📧 Добро пожаловать на наш сервис email рассылок! 🚀</h2>
            <p>
                Создавайте и отправляйте персонализированные email-рассылки всем своим клиентам всего в несколько шагов:
                <br><br>
                1. Загрузите вашу базу клиентов или заполните вручную.<br>
                2. Составьте уникальный текст вашего сообщения.<br>
                3. Отправьте ваше сообщение всем вашим клиентам сразу!<br>
                <br>
                Наша платформа обеспечивает удобство и эффективность ваших маркетинговых усилий, помогая вам
                поддерживать прочные связи с вашей аудиторией.<br>
                Вы можете выбрать периодичность отправки и ваши клиенты будут всегда в курсе ваших предложений.<br>
                Начните сегодня и увидите результаты! 📈💼
            </p>
    </div>
</div>
{% endblock %}