{% load static %}
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="{% url 'main:home' %}"><img src="{% static 'img/logo.png' %}" width="80"></a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{% url 'main:home' %}" class="nav-link px-2 link-secondary">Главная</a></li>
            <li><a href="{% url 'blog:article_list' %}" class="nav-link px-2 link-info">Блог</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'clients:client_list' %}" class="nav-link px-2">Клиенты</a></li>
            <li><a href="{% url 'messages:message_list' %}" class="nav-link px-2">Сообщения</a></li>
            <li><a href="{% url 'mailings:mailing_list' %}" class="nav-link px-2">Рассылки</a></li>
            {% if perms.users.view_all_users %}
            <li><a class="nav-link link-success" href="{% url 'users:user_list' %}">Пользователи</a></li>
            {% endif %}
            {% endif %}
        </ul>

        <div class="col-md-3 text-end">
            {% if user.is_authenticated %}
            <a href="{% url 'users:profile' %}" class="btn btn-warning">Профиль</a>
            <form action="{% url 'users:logout' %}" method="post" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Выйти</button>
            </form>
            {% else %}
            <a href="{% url 'users:login' %}" class="btn btn-outline-success me-1">Войти</a>
            <a href="{% url 'users:register' %}" class="btn btn-success">Регистрация</a>
            {% endif %}
        </div>
    </header>
</div>